.about-text {
  padding: 10vw 10vw 10vw 10vw;
}

.about-biography {
  padding: 5vw 5vw 5vw 5vw;
}

.about-container {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.about-container:hover {
  top: -30px;
}

.about-icon-container {
  transform: rotate(270deg);
}

.about-text-header {
  border-bottom: 5px solid white;
}

@media only screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
    padding-bottom: 5vw;
  }

  .about-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .about-icon {
    border-radius: inherit;
  }

  .about-text-container {
    background-image: linear-gradient(to bottom, #caf7e3 50%, transparent 0%);
    background-size: cover;
  }
}

@media only screen and (min-width: 600px) {
  .about-icon-container {
    width: 50%;
    height: 50%;
  }

  .about-icon {
    padding-right: 10vw;
  }

  .about-text-container {
    background-image: linear-gradient(to right, #caf7e3 30%, transparent 0%);  
    background-size: cover;
  }
}
