.about-icon-container {
  transform: rotate(270deg);
}

#about-profile {
  border-radius: 15px;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  #about-border {
    padding: 10vw 0vw 10vw 0vw;
  }

  .about-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #about-profile-container {
    display: flex;
    justify-content: center;
  }

  #about-text-header-container {
    flex-direction: column;
  }

  #about-text-container {
    padding-top: 3vw;
  }

  #about-text-header {
    font-size: 30px;
  }

  #about-text-content {
    font-size: 12px;
  }

  #career-hobbies-container {
    flex-direction: column;
  }

  #career {
    font-size: 12px;
  }

  #hobbies {
    font-size: 12px;
  }

  #as-a-header {
    font-size: 30px;
  }
}

#about-text-content {
  font-family: 'Lato';
}

#about-text-container {
  position:relative;
  animation:animateright 0.9s
}

#career-hobbies-container {
  position: relative;
  animation: animateright 0.9s
}

@keyframes animateright {
  from {
    right:-300px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

@keyframes animateleft {
  from {
    right:300px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

#about-profile-container {
  position: relative;
  animation: animateup 0.9s
}

@keyframes animateup {
  from {
    bottom:-300px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}

@media only screen and (min-width: 800px) {
  #about-border {
    padding: 5vw 0vw 2vw 0vw;
  }

  .about-icon-container {
    width: 50%;
    height: 50%;
  }

  #about-text-header-container {
    flex-direction: row;
  }

  #about-profile-container {
    max-width: 50%;
  }

  #about-text-container {
    max-width: 50%;
    padding-left: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #about-text-header {
    font-size: 33px;
  }

  #about-text-content {
    font-size: 20px;
  }

  #about-profile {
    max-width: 100%;
  }

  #career-hobbies-container {
    flex-direction: row;
  }

  #career {
    width: 50%;
    padding: 3vw;
    font-size: '20px';
  }

  #hobbies {
    width: 50%;
    padding: 3vw;
    font-size: '20px';
  }

  #as-a-header {
    font-size: 33px;
  }
}
