#about-profile {
  object-fit: cover;
  height: 80%;
}

@media only screen and (max-width: 800px) {
  #hobbies-and-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
  }

  #hobbies {
    margin: 1em;
    width: 100%;
    height: 100%;
  }

  #music {
    width: 100%;
    height: 100%;
  }

  #about-border {
    padding: 10vw 0vw 10vw 0vw;
  }

  #about-text-header-container {
    flex-direction: column;
    align-items: center;
  }

  #about-text-container {
    padding-top: 5vw;
  }

  #about-text-header {
    font-size: 30px;
  }

  #about-text-content {
    font-size: 15px;
  }

  #about-text-header {
    font-size: 30px;
  }

  #about-text-sub-header {
    font-size: 25px;
  }
}

#about-text-content {
  font-family: 'Lato';
}

#about-text-container {
  position:relative;
  animation:animateright 0.9s;
}

@keyframes animateright {
  from {
    right:-300px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

@keyframes animateleft {
  from {
    right:300px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

#about-profile-container {
  position: relative;
  animation: animateup 0.9s
}

@keyframes animateup {
  from {
    bottom:-300px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}

@media only screen and (min-width: 800px) {
  #music{
    width: 50%;
    height: 50%;
  }

  #hobbies {
    width: 50%;
    height: 50%;
    margin: 1em;
  }

  #about-border {
    padding: 5vw 0vw 2vw 0vw;
  }

  #hobbies-and-music {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
  }

  #about-text-header-container {
    flex-direction: row;
    align-items: center;
  }

  #about-profile-container {
    max-width: 50%;
  }

  #about-text-container {
    max-width: 50%;
  }

  #about-text-header {
    font-size: 33px;
  }

  #about-text-content {
    font-size: 20px;
  }

  #about-text-header {
    font-size: 40px;
  }

  #about-text-sub-header {
    font-size: 30px;
  }

  #about-profile {
    max-width: 100%;
  }
}
