@media only screen and (max-width: 600px) {
    #footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 600px) {
    #footer {
        padding-left: 80px;
        padding-right: 80px;
    }
}

#footer {
    background-color: #ebf0f5;
    height: inherit;
    text-align: center;
}