@media only screen and (max-width: 600px) {
    #navigation-bar {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 600px) {
    #navigation-bar {
        padding-left: 80px;
        padding-right: 80px;
    }
}

#navigation-bar {
    border-bottom: 1px solid black;
}

#window-bar {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #ebf0f5;
    z-index: 2;
}

#red-dot {
    height: 10px;
    width: 10px;
    background-color: #FF5F58;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

#green-dot {
    height: 10px;
    width: 10px;
    background-color: #2AC940;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

#yellow-dot {
    height: 10px;
    width: 10px;
    background-color: #FFBE2F;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}