@media only screen and (max-width: 600px) {
 
}

@media only screen and (min-width: 600px) {
  #mockup-container {
  	width: 50%;
  }
}

/* Animations */
#mockup-image:hover {
  transform: scale(1.2);
}

/* Background */
#mockup-image-container {
  background-color: #e8f4ea;
}