@media only screen and (max-width: 600px) {
 
}

@media only screen and (min-width: 600px) {
  #mockup-container {
  	width: 50%;
  }
}

/* Animations */
#mockup-image:hover {
  transform: scale(1.2);
}

#mockup-container:hover {
  top: -10px;
}

#mockup-container:hover #mockup-view-project{
	color: #FF7E6B;
}

#mockup-container:hover #mockup-view-project-container{
	border-color: #FF7E6B;
}

#mockup-container:hover #mockup-arrow{
	right: -3px;
}

/* Background */
#mockup-image-container {
  background-color: #e8f4ea;
  border: 1px solid black;
  box-shadow: 5px 5px;
}

#mockup-container {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#mockup-view-project-container{
	border-bottom: 2px solid white;
}

#mockup-arrow {
	position: relative;
}

@keyframes animateup {
  from {
    right:0;
    opacity:0
  }
  to {
    right:300px;
    opacity:1
  }
}