.intro {
  padding: 10vw 10vw 10vw 10vw;
}

.biography {
  padding: 5vw 0vw 10vw 0vw;
}

/* .border { */
  /* background:
    linear-gradient(to left, orange 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, orange 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 30px 30px; */
/* } */

@media only screen and (max-width: 600px) {
  .biography {
    flex-direction: column;
  }

  .profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .profile {
    border-radius: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .profile-container {
    width: 50%;
    height: 50%;
  }

  .profile {
    padding-right: 10vw;
    border-radius: 50%
  }
}

.border {
  position:relative;
  animation:animateleft 0.9s
}

@keyframes animateleft {
  from {
    left:-300px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

.profile-container {
  position: relative;
  animation: animateup 0.9s
}

@keyframes animateup {
  from {
    bottom:-300px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}