.intro {
  padding: 10vw 10vw 10vw 10vw;
}

#side-project-list-container {
  display: flex;
}

/* Icons */
.social-icons {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.social-icons:hover {
  top: -5px;
}

@media only screen and (max-width: 600px) {
  #biography {
    flex-direction: column;
    padding: 15vw 0vw 10vw 0vw;
  }

  .profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .profile {
    border-radius: 15px;
  }

  #side-project-list-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .profile-container {
    width: 50%;
    height: 50%;
  }

  .profile {
    padding-right: 10vw;
    border-radius: 50%
  }

  #biography {
    padding: 10vw 0vw 10vw 0vw;
  }

  #side-project-list-container {
    flex-direction: row;
  }
}

.border {
  position:relative;
  animation:animateleft 0.9s
}

@keyframes animateleft {
  from {
    left:-300px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

.profile-container {
  position: relative;
  animation: animateup 0.9s
}

@keyframes animateup {
  from {
    bottom:-300px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}